<div class="div">
  <h1>Inicio de sesión</h1>
  <a id="github" href="/api/sessions/login-github">Logueate con GitHub</a>

  <p class="message">{{message}}</p>
  <p id="error">{{error}}</p>

  <div class="form">
    <form id="loginForm">
      <input type="email" name="email" placeholder="Email" />
      <br />
      <input type="password" name="password" placeholder="Contaseña" />
      <br />
      <button>Inicia sesión</button>
    </form>
  </div>

  <div class="signUp">
    <a href="signup">Registrate</a>
  </div>
</div>

<script src="/js/signup.js"></script>